<%# $Id: authpage.rhtml 135 2005-04-14 12:19:11Z taki $ %>
<h2>認証ページ</h2>
<div class="form">
  <form method="post" name="auth" action="update.cgi">
    <div class="title">user:<input type="text" name="user" size="15"></div>
    <div class="title">pass:<input type="password" name="pass" size="15"></div>
    <div class="button"><input type="submit" value="Submit"></div>
  </form>
</div>