<%# $Id: res.rhtml 97 2004-10-13 14:14:30Z taki $ %>
<div class="namefield"><%= @linenum %> name:<%= @mail %> <%= @time %> <% unless @ip == '' %>[<%= @ip %>]<% end %> <% unless @ua == '' %>[<%= @ua %>]<% end %></div><p><%= @text %></p><hr>
